// main: ../../less/styles.less
@import (reference) '../../less/variables.less';

.header {
    box-shadow: 0px 4px 5px rgba(50, 50, 71, 0.16);
    padding: 2px 0 8px;
    position: fixed;

    width: 100%;
    top: 0;
    background-color: @color-filter-btns;
    z-index: 1001;
    @media(min-width: 1440px) {
        position: static;
        box-shadow: none;
    }
    &__navigation {
        display: none;
        @media(min-width: 1440px) {
            display: flex;
            justify-content: space-between;
            height: 45px;
            background-color: @active-filter-btn;
        }
    }
    &__body {
        display: flex;
        align-items: center;
        @media(min-width: 1440px) {
            justify-content: space-between;
        }
    }

    .burger {
        width: 18px;
        height: 12px;
    }

    &__burger {
        @media(min-width: 1440px) {
            display: none;
        }
    }

    
}




